.container-fluid {
    background: rgba(237,237,237,.85);
    position: fixed;
    top: 0;
    bottom: 0;
}
.title {
    background: rgba(237,237,237,.95);
    border-bottom: #dcdcdc 1px solid;
    color: #222222;
}
p > img {
    width: 18px;
    height: 22px;
}
.title > button {
    outline: none;
    border: 0;
    background: rgba(237,237,237,.85);
    position: absolute;
    line-height: 60px;
    padding: 0;
}
button > img {
    width: 36px;
    height: 36px;
}
.back {
    left: 6px;
    top: -2px;
}
.detail {
    right: 10px;
}
.middle {
    height: 549px;
    overflow-y: scroll;
}
.show {
    height: 309px;
    overflow-y: scroll;
}
.time {
    position: relative;
    color: gray;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
    margin-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 16px;
    width: 100%;
    text-align: right;
}
.triangle {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #94eb6c;
    position: relative;
    top: 24px;
    left: 296px;
    /* right: 50px; */
}
li > span {
    border: 1px solid #94eb6c;
    background: #94eb6c;
    border-radius: 5px;
    min-height: 36px;
    display: inline-block;
    line-height: 36px;
    max-width: 260px;
    text-align: left;
    padding: 0 10px;
}
.avatar {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    margin-left: 12px;
}
.footer {
    border-top: #dcdcdc 1px solid;
    border-bottom: #dcdcdc 1px solid;
    background: #f6f6f6;
    height: auto;
    z-index: 2;
}
.auto-footer {
    min-height:56px;
    border:0;
    outline:none;
}
.footer input, .voice-container button {
    height: 40px;
    text-indent: 10px;
    position: absolute;
    bottom: 8px;
    left: 46px;
    width: 64%;
    outline: none;
    border: rgba(0,0,0,.05) 1px solid;
    border-radius: 5px;
    caret-color: green;
    background: white;
    z-index: 2;
}
.footer input .voice-container button {
    height: 40px;
}
.footer .input {
    min-height: 40px;
    max-height: 120px;
    padding: 6px 10px;
    overflow-y: scroll;
}
.footer img {
    width: 32px;
    height: 32px;
    position: absolute;
}
.voice, .print {
    left: 8px;
    bottom: 12px;
}
.voice-container button {
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}
.emoji {
    right: 50px;
    bottom: 12px;
}
.more {
    right: 10px;
    bottom: 12px;
}