.container-fluid {
    background-color: rgba(237,237,237,.85);
    height: 100%;
}
.title {
    height: 65px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.title p {
    line-height:60px;
    font-size: 18px;
    color: #222222;
}
p > img {
    margin-left: 6px;
    width: 16px;
    height: 20px;
}
button {
    outline: none;
    border: 0;
    background: rgba(237,237,237,.85);
    position: absolute;
    top: -1px;
    right: 16px;
    line-height: 60px;
    padding: 0;
}
button > img {
    width: 22px;
    height: 22px;
}
input {
    width: 100%;
    text-align: center;
    outline: none;
    border: rgba(0,0,0,.08) 1px solid;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 14px;
}
input::-webkit-input-placeholder {
    font-size: 20px;
    color: #9c9c9c;
}
ul {
    list-style: none;
    padding: 0;
}
.listGroup {
    height: 488px;
    margin: 0;
    overflow-y: scroll;
}
.list-group-item {
    display: flex;
    align-items: center;
    padding: 20px 0 10px 10px;
    height: 70px;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: -1px;
}
.portrait {
    width: 70px;
    height: 70px;
}
.portrait img {
    width: 44px;
    height: 44px;
    border-radius: 8px;
}
.name {
    position: absolute;
    left: 78px;
    top: 6px;
    font-size: 18px;
}
.time {
    position: absolute;
    top: 4px;
    right: 20px;
    font-size: 14px;
}
.mess {
    position: absolute;
    top: 38px;
    left: 78px;
    font-size: 14px;
}
popup {
    width: 50%;
    position: absolute;
    top: 60px;
    right: 6px;
}
search {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: fixed;
    top: 0;
    margin-left: -15px;
}